<style>
    .brand__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .brand__holder img {
        max-width: 250px;
        height: auto;
        filter: grayscale(100%) brightness(50%);
        transition: filter 0.5s;
    }
    .brand__holder img:hover {
        filter: grayscale(0%) brightness(100%);
    }
</style>

<div class="brand__container">
    {% for brand in page.brands %}
        <div class="brand__holder">
            <img src="{{ brand | relative_url }}">
        </div>
    {% endfor %}
</div>